/* Add here all your css styles (customizations) */

body.larger-font {
    font-size: 14px;
    line-height: 1.8;
}

.content.main-content {
    padding-top: 20px;
}

.introduction-box {
    margin-top: 10px;
}

.home blockquote {
    margin-bottom: 10px;
}

.home-lists {
    margin-top: 20px;
}

.toc-panel ul {
    margin-bottom: 0;
}

.toc-panel ul ul.list-unstyled {
    padding-left: 15px;
}

.toc-panel ul li {
    margin-bottom: 5px;
}

.toc-panel ul li ul li {
    margin-bottom: 0;
}

.panel-heading.toc-heading {
    background: #fefefe;
}

h4.toc-title-and-toggle {
    margin: 7px;
}

.toc-title-and-toggle .toc-title {
    font-weight: bold;
    font-size: 14px;
}

.toc-title-and-toggle .toc-toggle {
    margin-left: 10px;
    font-size: 12px;
}

.toc-title-and-toggle a.toc-toggle-link {
    font-size: 12px;
    display: inline-block;
    padding: 0;
}

.toc-panel li a {
    /* @@todo this should depend on the theme */
    color: #72c02c;
}

.service-block-u a {
    color: white;
}

.panel-title .panel-year {
    margin-left: 5px;
    vertical-align: middle;
}

.panel-title .panel-count {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.worldview-category h2, .worldview-references h2 {
    margin-bottom: 25px;
}

.contentbox .headline {
    margin-top: 0;
}

.contentbox .table, table p {
    margin-bottom: 0;
}

.tag-box.contentbox p:not(:last-child), table p:not(:last-child) {
    margin-bottom: 10px;
}

.contentbox .table tr:first-child td {
    border-top-width: 0;
}

.tag-box {
    padding-top: 15px;
    padding-bottom: 15px;
}

.listitems .tag-box .headline {
    margin-bottom: 10px;
}

.listitems .tag-box .table td {
    padding: 6px;
}

.listitems h3 a, .markdown h2 a {
    /* @todo this should depend on the theme */
    color: #555;
}

.markdown li a, .latestposts li a, .latesttweets li a {
    /* @todo this should depend on the theme */
    color: #72c02c;
}

.movie-alternate-title, .concert-event {
    font-size: smaller;
    font-style: italic;
}

.rating {
    white-space: nowrap;
}

.rating-as-string {
    margin-left: 3px;
    font-size: 80%;
}

.header-link {
    position: absolute;
    opacity: 0;
    color: black;

    -webkit-transition: opacity 0.1s ease-in-out 0.1s;
    -moz-transition: opacity 0.1s ease-in-out 0.1s;
    -ms-transition: opacity 0.1s ease-in-out 0.1s;
}

.head-link-table-row {
    margin-left: -26px;
}

.head-link-table-title {
    margin-left: -35px;
}

.head-link-content-box {
    margin-left: -45px;
}

.panel-title:hover .header-link,
td:hover .header-link,
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
    opacity: 1;
    color: black;
}

.header .container {
    min-height: 40px;
}

.header .dropdown-menu li a.noseparator {
    border-bottom: 0;
}

.breadcrumbs .breadcrumb.breadcrumb-right {
    float: right;
    top: 10px;
}

.breadcrumbs.breadcrumbs-small {
    padding-top: 0;
    padding-bottom: 0;
}

.breadcrumb.breadcrumb-small {
    padding-top: 0;
    padding-bottom: 0;
}

.breadcrumbs .container {
    height: 40px;
}

.breadcrumbs-v3.header-default {
  background: url(../img/louvie.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.breadcrumbs-v3.header-bright {
    position: static;
}

.centered-canvas {
    display: block;
    margin: 0 auto;
}

.lifelogging-table tr.header {
    background-color: #eaeaea;
}

.lifelogging-table tr.details {
    background-color: #f7f7f7;
}