/* Add here all your css styles (customizations) */

.toc-panel ul {
    margin-bottom: 0;
}

.toc-panel ul ul.list-unstyled {
    padding-left: 15px;
}

.toc-panel ul li {
    margin-bottom: 5px;
}

.toc-panel ul li ul li {
    margin-bottom: 0;
}

.service-block-u a {
    color: white;
}

.panel-title .panel-year {
    margin-left: 5px;
    vertical-align: middle;
}

.panel-title .panel-count {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.worldview-category h2, .worldview-references h2 {
    margin-bottom: 25px;
}

.contentbox .headline {
    margin-top: 0;
}

.contentbox .table {
    margin-bottom: 0;
}

.contentbox .table tr:first-child td {
    border-top-width: 0;
}

.listitems .contentbox .headline {
    margin-bottom: 10px;
}

.markdown li a {
    /* @todo this should depend on the theme */
    color: #18ba9b;
}

.markdown h2 a {
    /* @todo this should depend on the theme */
    color: #555;
}

.rating {
    white-space: nowrap;
}

.rating-as-string {
    margin-left: 3px;
    font-size: 80%;
}
