/* Add here all your css styles (customizations) */

.home blockquote {
    margin-bottom: 10px;
}

.home-lists {
    margin-top: 20px;
}

.toc-panel ul {
    margin-bottom: 0;
}

.toc-panel ul ul.list-unstyled {
    padding-left: 15px;
}

.toc-panel ul li {
    margin-bottom: 5px;
}

.toc-panel ul li ul li {
    margin-bottom: 0;
}

.service-block-u a {
    color: white;
}

.panel-title .panel-year {
    margin-left: 5px;
    vertical-align: middle;
}

.panel-title .panel-count {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.worldview-category h2, .worldview-references h2 {
    margin-bottom: 25px;
}

.contentbox .headline {
    margin-top: 0;
}

.contentbox .table {
    margin-bottom: 0;
}

.contentbox .table tr:first-child td {
    border-top-width: 0;
}

.tag-box {
    padding-top: 15px;
    padding-bottom: 15px;
}

.listitems .tag-box .headline {
    margin-bottom: 10px;
}

.listitems .tag-box .table td {
    padding: 6px;
}

.listitems h3 a, .markdown h2 a {
    /* @todo this should depend on the theme */
    color: #555;
}

.markdown li a {
    /* @todo this should depend on the theme */
    color: #18ba9b;
}

.rating {
    white-space: nowrap;
}

.rating-as-string {
    margin-left: 3px;
    font-size: 80%;
}

.header-link {
    position: absolute;
    opacity: 0;
    color: black;

    -webkit-transition: opacity 0.1s ease-in-out 0.1s;
    -moz-transition: opacity 0.1s ease-in-out 0.1s;
    -ms-transition: opacity 0.1s ease-in-out 0.1s;
}

.head-link-table-row {
    margin-left: -26px;
}

.head-link-table-title {
    margin-left: -35px;
}

.head-link-content-box {
    margin-left: -45px;
}

.panel-title:hover .header-link,
td:hover .header-link,
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
    opacity: 1;
    color: black;
}
