@import models.lifelogging.{ Article, Articles }

@(articles: Articles)

@header = {
  <tr class="header">
    <th class="col-md-1">Date</th>
    <th class="col-md-6">Title</th>
    <th class="col-md-5">Subtitle</th>
  </tr>
}

@rowFromItem(listItem: ListItem) = {
  @defining(listItem.asInstanceOf[Article]) { article =>
    <tr class="details">
      <td>@sluganddate(article)</td>
      <td>@{article.url.fold[xml.NodeSeq](xml.Text(article.title))(url => <a href={url.toString}>{article.title}</a>)}</td>
      <td>@article.subtitle.getOrElse("")</td>
    </tr>
    @article.comments.map { comments =>
      <tr><td colspan="3">@comments.html</td></tr>
    }
  }
}

@list(
  page = Sitemap.articles,
  cacheable = articles,
  header = header,
  rowFromItem = rowFromItem,
  nextItemsTitle = Some("Currently reading"))
