@import models.statistics.BarOrLineChart

@(barChart: BarOrLineChart[Int])

@import org.apache.commons.text.StringEscapeUtils

<script>
  jQuery(document).ready(function() {
    var context = document.getElementById("@barChart.id").getContext("2d");

    Chart.defaults.plugins.legend.display = false;

    var data = {
      labels: [
        @{
          val Quote = "\""
          Html(barChart.labels.map(label => s"$Quote${StringEscapeUtils.escapeEcmaScript(label)}$Quote").mkString(", "))
        }
      ],
      datasets: [
        @barChart.valueSets.map { valueSet =>
        {
          label: "@valueSet.label",
          backgroundColor: "rgba(@valueSet.color.red,@valueSet.color.green,@valueSet.color.blue,0.2)",
          borderColor: "rgba(@valueSet.color.red,@valueSet.color.green,@valueSet.color.blue,1)",
          borderWidth: 1,
          hoverBackgroundColor: "rgba(@valueSet.color.red,@valueSet.color.green,@valueSet.color.blue,0.2)",
          hoverBorderColor: "rgba(@valueSet.color.red,@valueSet.color.green,@valueSet.color.blue,1)",
          data: [ @valueSet.values.map(_.toString).mkString(", ") ]
        },
        }
      ]
    };

    var myBarChart = new Chart(context,{
       type: 'bar',
       data: data,
       options: {}
    });
  });
</script>

<div style="width: 600px; height: 400px;">
  <canvas id="@barChart.id" class="centered-canvas" width="600" height="400"/>
</div>
