@(books: Books)

@header = {
  <tr>
    <th class="col-md-1">Date</th>
    <th class="col-md-2">Author</th>
    <th class="col-md-3">Title</th>
    <th class="col-md-2">Subtitle</th>
    <th>Year</th>
    <th>Rating</th>
    <th class="col-md-2">Comments</th>
    <th class="col-md-1">Notes</th>
  </tr>
}

@rowFromItem(listItem: ListItem) = {
  @defining(listItem.asInstanceOf[Book]) { book =>
    <tr>
      <td>@sluganddate(book)</td>
      <td>@book.author</td>
      <td><a href="@book.url.toString">@book.title</a></td>
      <td>@book.subtitle.getOrElse("")</td>
      <td>@book.year</td>
      <td>@views.html.rating(book.rating)</td>
      <td>@Html(book.comments.fold("")(_.string))</td>
      <td>@book.notes.map { notes =>
        <a href="@routes.BookNotesController.bookNotes(notes.slug)">@notes.description.getOrElse(BookNotes.DefaultDescription)</a>
      }</td>
    </tr>
  }
}

@list(
  page = Sitemap.books,
  cacheable = books,
  header = header,
  rowFromItem = rowFromItem)
