@import models.lifelogging.{ Comic, Comics }

@(comics: Comics)

@header = {
  <tr>
    <th class="col-md-1">Date</th>
    <th class="col-md-2">Author(s)</th>
    <th class="col-md-2">Series</th>
    <th>#</th>
    <th class="col-md-2">Volume</th>
    <th>Comments</th>
  </tr>
}

@rowFromItem(listItem: ListItem) = {
  @defining(listItem.asInstanceOf[Comic]) { comic =>
    <tr>
      <td>@sluganddate(comic)</td>
      <td>@{
        val distinctAuthors = Seq(comic.writer, comic.artist, comic.colorist).flatten.distinct

        if (distinctAuthors.size >= 2) {
          val paragraphs =
            comic.writer.map(writer => s"Writer: $writer").toSeq ++
            comic.artist.map(artist => s"Artist: $artist").toSeq ++
            comic.colorist.map(colorist => s"Colorist: $colorist").toSeq

          paragraphs.map(paragraph => <p>{paragraph}</p>).foldLeft(xml.NodeSeq.Empty)(_ ++ _)
        } else {
          distinctAuthors.headOption.getOrElse("")
        }
      }</td>
      <td>@{
        comic.series match {
          case Some(series) =>
            comic.seriesUrl.fold[xml.NodeSeq](xml.Text(series))(url => <a href={url.toString}>{series}</a>)
          case None =>
            ""
        }
      }</td>
      <td>@{comic.volumeNumber.fold("-")(_.toString)}</td>
      <td>@{comic.volumeUrl.fold[xml.NodeSeq](xml.Text(comic.volume))(url => <a href={url.toString}>{comic.volume}</a>)}</td>
      <td>@comic.comments.map(_.html).getOrElse(Html(""))</td>
    </tr>
  }
}

@list(
  page = Sitemap.comics,
  cacheable = comics,
  header = header,
  rowFromItem = rowFromItem,
  nextItemsTitle = Some("Currently reading"))
