@(concerts: Concerts)

@musicians(band: Option[String], musicians: Seq[Musician]) = {
  @band.map { band =>
    <strong>@band</strong>@if(musicians.nonEmpty) {: }
  }
  @musicians.zipWithIndex.map { case (musician, index) =>
    @defining(Concerts.commaOrAnd(index = index, totalCount = musicians.size)) { separator =>
      @if((musician.leader || musicians.size == 1) && band.isEmpty) {
        <strong>@musician.name</strong>@separator
      } else {
        @musician.name@separator
      }
    }
  }
}

@header = {
  <tr>
    <th class="col-md-1">Date</th>
    <th class="col-md-3">Musicians</th>
    <th class="col-md-3">Location</th>
    <th class="col-md-2">Event</th>
    <th class="col-md-1">Rating</th>
    <th class="col-md-2">Comments</th>
  </tr>
}

@rowFromItem(listItem: ListItem) = {
  @defining(listItem.asInstanceOf[Concert]) { concert =>
    <tr>
      <td>@sluganddate(concert)</td>
      <td>@musicians(concert.band, concert.musicians)</td>
      <td>@concert.location</td>
      <td>@concert.event.getOrElse("")</td>
      <td>@concert.rating.fold("")(_.toString)</td>
      <td>@Html(concert.comments.fold("")(_.string))</td>
    </tr>
  }
}

@list(
  page = Sitemap.concerts,
  introductionOption = concerts.introductionOption,
  items = concerts.concerts,
  header = header,
  rowFromItem = rowFromItem)
