@import models.lifelogging.{ Concert, Concerts, Musician }

@(concerts: Concerts)

@musicians(band: Option[String], musicians: Seq[Musician]) = {
  @band.map { band =>
    <strong>@band</strong>@if(musicians.nonEmpty) {: }
  }
  @musicians.zipWithIndex.map { case (musician, index) =>
    @defining(Concerts.commaOrAnd(index = index, totalCount = musicians.size)) { separator =>
      @if((musician.main || musicians.size == 1) && band.isEmpty) {
        <strong>@musician.name</strong>@separator
      } else {
        @musician.name@separator
      }
    }
  }
}

@header = {
  <tr class="header">
    <th class="col-md-1">Date</th>
    <th class="col-md-6">Musicians</th>
    <th class="col-md-4">Location / event</th>
    <th class="col-md-1">Rating</th>
  </tr>
}

@rowFromItem(listItem: ListItem) = {
  @defining(listItem.asInstanceOf[Concert]) { concert =>
    <tr class="details">
      <td>@sluganddate(concert)</td>
      <td><p>@musicians(concert.band, concert.musicians)</p></td>
      <td>@{
        val location = xml.Text(concert.location)

        val event = concert.event.map(event => <br/> ++ <span class="concert-event">{event}</span>)

        location ++ event
      }</td>
      <td>@views.html.rating(concert.rating)</td>
    </tr>
    @concert.comments.map { comments =>
      <tr><td colspan="4">@comments.html</td></tr>
    }
  }
}

@list(
  page = Sitemap.concerts,
  cacheable = concerts,
  header = header,
  rowFromItem = rowFromItem,
  nextItemsTitle = Some("Upcoming concerts"))
