@(slug: Option[String], title: Option[Html], titleLink: Option[String] = None)(content: Html)

@anchorLinkInTitle = {
  @slug match {
    case Some(slug) => { <a href="#@slug" class="header-link head-link-content-box"><i class="fa fa-link"></i></a> }
    case None => {}
  }
}

@titleWithLink = {
  <h3>
    @anchorLinkInTitle
    @titleLink match {
      case Some(titleLink) => { <a href="@titleLink">@title</a> }
      case None => { @title }
    }
  </h3>
}

<div class="tag-box tag-box-v3 box-shadow shadow-effect-1 contentbox">
  @title.map { title =>
    <div class="headline">
      @slug match {
        case Some(slug) => { <section id="@slug">@titleWithLink</section> }
        case None => { @titleWithLink }
      }
    </div>
  }
  @content
</div>
