@import models.lifelogging.{ Course, CourseCertificate, Courses }

@(courses: Courses)

@header = {
  <tr class="header">
    <th class="col-md-1">Date</th>
    <th class="col-md-1">Provider</th>
    <th class="col-md-4">Name</th>
    <th class="col-md-3">Instructor(s)</th>
    <th class="col-md-3">Certificate</th>
  </tr>
}

@rowFromItem(listItem: ListItem) = {
  @defining(listItem.asInstanceOf[Course]) { course =>
    <tr class="details">
      <td>@sluganddate(course)</td>
      <td>@course.provider</td>
      <td><a href="@course.url">@course.name</a></td>
      <td>@course.instructor</td>
      <td>@course.certificate.map { certificate =>
        <a href="@routes.CourseCertificatesController.courseCertificate(certificate.slug)">@certificate.description.getOrElse(CourseCertificate.DefaultDescription)</a>
      }</td>
    </tr>
  }
}

@list(
  page = Sitemap.courses,
  cacheable = courses,
  header = header,
  rowFromItem = rowFromItem,
  nextItemsTitle = Some("Upcoming courses"))
