@(crashes: Crashes)

@header = {
  <tr>
    <th class="col-md-1">Date</th>
    <th class="col-md-3">Manufacturer</th>
    <th class="col-md-3">Model</th>
    <th class="col-md-5">Comments</th>
  </tr>
}

@rowFromItem(listItem: ListItem) = {
  @defining(listItem.asInstanceOf[Crash]) { crash =>
    <tr>
      <td>@sluganddate(crash)</td>
      <td>@crash.manufacturer</td>
      <td>@crash.model</td>
      <td>@Html(crash.comments.fold("")(_.string))</td>
    </tr>
  }
}

@list(
  page = Sitemap.crashes,
  cacheable = crashes,
  header = header,
  rowFromItem = rowFromItem)
