@import models.lifelogging.{ Crash, Crashes }

@(crashes: Crashes)

@header = {
  <tr class="list-header">
    <th class="col-md-1">Date</th>
    <th class="col-md-3">Manufacturer</th>
    <th class="col-md-3">Model</th>
    <th class="col-md-5">Comments</th>
  </tr>
}

@rowFromItem(listItem: ListItem, trClass: String) = {
  @defining(listItem.asInstanceOf[Crash]) { crash =>
    <tr class="list-details @trClass">
      <td>@sluganddate(crash)</td>
      <td>@crash.manufacturer</td>
      <td>@crash.model</td>
      <td>@crash.comments.fold(Html(""))(_.html)</td>
    </tr>
  }
}

@list(
  page = Sitemap.crashes,
  cacheable = crashes,
  header = header,
  rowFromItem = rowFromItem)
