@import models.lifelogging.{ Exhibition, Exhibitions }

@(exhibitions: Exhibitions)

@header = {
  <tr class="list-header">
    <th class="col-md-1">Date</th>
    <th class="col-md-4">Name</th>
    <th class="col-md-3">Museum</th>
    <th class="col-md-3">Pictures</th>
    <th class="col-md-1">Rating</th>
  </tr>
}

@rowFromItem(listItem: ListItem, trClass: String) = {
  @defining(listItem.asInstanceOf[Exhibition]) { exhibition =>
    <tr class="list-details @trClass">
      <td>@sluganddate(exhibition)</td>
      <td>@exhibition.name</td>
      <td>@exhibition.museum</td>
      <td>@pictures(exhibition.pictures, exhibition.name)</td>
      <td>@views.html.rating(exhibition.rating)</td>
    </tr>
    @exhibition.comments.map { comments =>
      <tr><td colspan="5">@comments.html</td></tr>
    }
  }
}

@list(
  page = Sitemap.exhibitions,
  cacheable = exhibitions,
  header = header,
  rowFromItem = rowFromItem)
