@(exhibitions: Exhibitions)

@header = {
  <tr>
    <th class="col-md-1">Date</th>
    <th class="col-md-4">Name</th>
    <th class="col-md-3">Museum</th>
    <th class="col-md-1">Rating</th>
    <th class="col-md-3">Comments</th>
  </tr>
}

@rowFromItem(listItem: ListItem) = {
  @defining(listItem.asInstanceOf[Exhibition]) { exhibition =>
    <tr>
      <td>@sluganddate(exhibition)</td>
      <td>@exhibition.name</td>
      <td>@exhibition.museum</td>
      <td>@exhibition.rating.fold("")(_.toString)</td>
      <td>@Html(exhibition.comments.fold("")(_.string))</td>
    </tr>
  }
}

@list(
  page = Sitemap.exhibitions,
  introduction = exhibitions.introduction,
  items = exhibitions.exhibitions,
  header = header,
  rowFromItem = rowFromItem)
