@(page: Page)

@headerMenu(page: Page, level: Int) = {
  @level match {
    case 0 => {
      <ul class="navbar-nav text-uppercase g-pos-rel g-font-weight-600 ml-auto">
      @page.children.map { page =>
        @if(page.children.isEmpty) {
          <li class="nav-item g-mx-10--lg g-mx-15--xl"><a href="@page.url" class="nav-link g-py-7 g-px-0">@page.title</a></li>
        } else {
          <li class="nav-item hs-has-sub-menu g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut">
          @headerMenu(page, level = level + 1)
          </li>
        }
      }
      </ul>
    }
    case _ => {
      @if(level == 1) {
        <a href="@page.url" class="nav-link g-py-7 g-px-0">@page.title</a>
        <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-18 g-mt-8--lg--scrolling">
      } else {
        <a href="@page.url" class="nav-link"><i class="fa @page.icon.getOrElse("")"></i> @page.title</a>
        <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-minus-2">
      }
      @Header.menuItems(page).map { menuItem =>
        @menuItem match {
          case Header.MenuSeparator => {
            <li class="dropdown-divider"></li>
          }
          case Header.MenuPage(childPage) => {
            @defining(if (childPage.children.nonEmpty) "hs-has-sub-menu" else "") { liClass =>
              <li class="dropdown-item @liClass">
              @headerMenu(childPage, level = level + 1)
              </li>
            }
          }
        }
      }
      </ul>
    }
  }
}

<header id="js-header" class="u-header u-header--static">
  <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10">
    <nav class="js-mega-menu navbar navbar-expand-lg hs-menu-initialized hs-menu-horizontal">
      <div class="container">
        <!-- Responsive Toggle Button -->
        <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                    <span class="hamburger hamburger--slider">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </span>
                </button>
        <!-- End Responsive Toggle Button -->

        <!-- Navigation -->
        <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--lg" id="navBar">
        @headerMenu(controllers.Sitemap.root, level = 0)
        </div>
        <!-- End Navigation -->
      </div>
    </nav>
  </div>
</header>
