@(page: Page)

<!--=== Header ===-->
<div class="header">
    <div class="container">
        <!-- Logo -->
        <!--
        <a class="logo" href="index.html">
            <img src="@routes.Assets.at("images/logo1-default.png")" alt="Logo">
        </a>
        -->
        <!-- End Logo -->

        <!-- Topbar -->
        <!--
        <div class="topbar">
            <ul class="loginbar pull-right">
                <li class="hoverSelector">
                    <i class="fa fa-globe"></i>
                    <a>Languages</a>
                    <ul class="languages hoverSelectorBlock">
                        <li class="active">
                            <a href="#">English <i class="fa fa-check"></i></a>
                        </li>
                        <li><a href="#">Spanish</a></li>
                        <li><a href="#">Russian</a></li>
                        <li><a href="#">German</a></li>
                    </ul>
                </li>
                <li class="topbar-devider"></li>
                <li><a href="page_faq.html">Help</a></li>
                <li class="topbar-devider"></li>
                <li><a href="javascript:void(0);">Login</a></li>
            </ul>
        </div>
        -->
        <!-- End Topbar -->

        <!-- Toggle get grouped for better mobile display -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
        </button>
        <!-- End Toggle -->
    </div><!--/end container-->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
        <div class="container">
            <ul class="nav navbar-nav">
                @controllers.Sitemap.root.children.map { page =>
                    @if(page.children.isEmpty) {
                        <li><a href="@page.url">@page.title</a></li>
                    } else {
                        <li class="dropdown">
                            <a href="@page.url" class="dropdown-toggle" data-toggle="dropdown">@page.title</a>
                            <ul class="dropdown-menu">
                                @page.children.map { childPage =>
                                    @if(childPage.children.isEmpty) {
                                        <li><a href="@childPage.url"><i class="fa @childPage.icon.getOrElse("")"></i> @childPage.title</a></li>
                                    } else {
                                        <li class="dropdown-submenu">
                                            <a href="@childPage.url"><i class="fa @childPage.icon.getOrElse("")"></i> @childPage.title</a>
                                            <ul class="dropdown-menu">
                                                @childPage.children.map { grandChildPage =>
                                                    <li><a href="@grandChildPage.url"><i class="fa @grandChildPage.icon.getOrElse("")"></i> @grandChildPage.title</a></li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>
                    }
                }
            </ul>
        </div><!--/end container-->
    </div><!--/navbar-collapse-->
</div>
<!--=== End Header ===-->
