@(page: Page)

@headerMenu(page: Page, level: Int) = {
    @level match {
        case 0 => {
            <ul class="nav navbar-nav">
            @page.children.map { page =>
                @if(page.children.isEmpty) {
                    <li><a href="@page.url">@page.title</a></li>
                } else {
                    <li class="dropdown">
                    @headerMenu(page, level = level + 1)
                    </li>
                }
            }
            </ul>
        }
        case _ => {
            @if(level == 1) {
                <a href="@page.url" class="dropdown-toggle" data-toggle="dropdown">@page.title</a>
            } else {
                <a href="@page.url" class="noseparator"><i class="fa @page.icon.getOrElse("")"></i> @page.title</a>
            }
            <ul class="dropdown-menu">
            @Header.menuItems(page).map { menuItem =>
                @menuItem match {
                    case Header.MenuSeparator => {
                        <li role="separator" class="divider"></li>
                    }
                    case Header.MenuPage(childPage) => {
                        @defining(if (childPage.children.nonEmpty) "dropdown-submenu" else "") { liClass =>
                            <li class="@liClass">
                            @headerMenu(childPage, level = level + 1)
                            </li>
                        }
                    }
                }
            }
            </ul>
        }
    }
}

<!--=== Header ===-->
<div class="header">
    <div class="container">
        <!-- Logo -->
        <!--
        <a class="logo" href="index.html">
            <img src="@routes.Assets.at("images/logo1-default.png")" alt="Logo">
        </a>
        -->
        <!-- End Logo -->

        <!-- Topbar -->
        <!--
        <div class="topbar">
            <ul class="loginbar pull-right">
                <li class="hoverSelector">
                    <i class="fa fa-globe"></i>
                    <a>Languages</a>
                    <ul class="languages hoverSelectorBlock">
                        <li class="active">
                            <a href="#">English <i class="fa fa-check"></i></a>
                        </li>
                        <li><a href="#">Spanish</a></li>
                        <li><a href="#">Russian</a></li>
                        <li><a href="#">German</a></li>
                    </ul>
                </li>
                <li class="topbar-devider"></li>
                <li><a href="page_faq.html">Help</a></li>
                <li class="topbar-devider"></li>
                <li><a href="javascript:void(0);">Login</a></li>
            </ul>
        </div>
        -->
        <!-- End Topbar -->

        <!-- Toggle get grouped for better mobile display -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
        </button>
        <!-- End Toggle -->
    </div><!--/end container-->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
        <div class="container">
            @headerMenu(controllers.Sitemap.root, level = 0)
        </div><!--/end container-->
    </div><!--/navbar-collapse-->
</div>
<!--=== End Header ===-->
