@import models.lifelogging.{ Hike, Hikes }

@(hikes: Hikes)

@header = {
  <tr class="list-header">
    <th class="col-md-2">Date</th>
    <th class="col-md-5">Place</th>
    <th class="col-md-5">Pictures</th>
  </tr>
}

@rowFromItem(listItem: ListItem, trClass: String) = {
  @defining(listItem.asInstanceOf[Hike]) { hike =>
    <tr class="list-details @trClass">
      <td>@sluganddate(hike)</td>
      <td>@hike.place</td>
      <td>@pictures(hike.pictures, hike.place)</td>
    </tr>
  }
}

@list(
  page = Sitemap.hikes,
  cacheable = hikes,
  header = header,
  rowFromItem = rowFromItem)
