@(hikes: Hikes)

@header = {
  <tr>
    <th class="col-md-2">Date</th>
    <th class="col-md-5">Place</th>
    <th class="col-md-5">Pictures</th>
  </tr>
}

@rowFromItem(listItem: ListItem) = {
  @defining(listItem.asInstanceOf[Hike]) { hike =>
    <tr>
      <td>@sluganddate(hike)</td>
      <td>@hike.place</td>
      <td>@pictures(hike.pictures, hike.place)</td>
    </tr>
  }
}

@list(
  page = Sitemap.hikes,
  introduction = hikes.introduction,
  items = hikes.hikes,
  header = header,
  rowFromItem = rowFromItem)
