@(twitterProfile: HtmlContent, listItems: Seq[ListItems])

@main(Sitemap.home) {
  <div class="headline"><h2>About me</h2></div>

  <p>Here's my Twitter bio:</p>

  @views.html.introduction { <p><em>@twitterProfile.html</em></p> }

  <p>
    You can find more information about me on the <a href="@routes.Application.profile()">Profile</a> page or in
    my <a href="@routes.Application.pdfCv()">CV / résumé</a>.
  </p>

  <div class="headline"><h2>What have I done lately?</h2></div>

  @listItems.grouped(3).map { listItemsGroup =>
    <div class="col-md-12">
      @for(column <- 0 to 2) {
        <div class="col-md-4">@listItemsGroup.lift(column).map { listItems => @views.html.listitems(listItems) }</div>
      }
    </div>
  }
}
