@(lifePrinciples: LifePrinciples)

@column(columnNumber: Int, columnCount: Int) = {
  @lifePrinciples.lifePrinciples.slice(
    from = lifePrinciples.indexFromColumnNumber(columnNumber, columnCount),
    until = lifePrinciples.indexFromColumnNumber(columnNumber + 1, columnCount)).map { lifePrinciple =>
      @views.html.contentbox(slug = lifePrinciple.slug, title = Html(lifePrinciple.summary.string)) {
        <p>@Html(lifePrinciple.details.string)</p>
      }
  }
}

@main(page = controllers.Sitemap.lifePrinciples) {
  @lifePrinciples.introduction.map { introduction =>
    @views.html.introduction {
      <p>@Html(introduction.fullVersion.string)</p>
    }
  }
  <div class="col-md-6">
    @column(columnNumber = 0, columnCount = 2)
  </div>
  <div class="col-md-6">
    @column(columnNumber = 1, columnCount = 2)
  </div>
}
