@import models.about.LifePrinciples

@(lifePrinciples: LifePrinciples)

@column(columnNumber: Int, columnCount: Int) = {
  @lifePrinciples.lifePrinciples.slice(
    from = lifePrinciples.indexFromColumnNumber(columnNumber, columnCount),
    until = lifePrinciples.indexFromColumnNumber(columnNumber + 1, columnCount)).map { lifePrinciple =>
      @views.html.contentbox(slug = Some(lifePrinciple.slug), title = Some(lifePrinciple.summary.html)) {
        <p>@lifePrinciple.details.html</p>
      }
  }
}

@main(page = controllers.Sitemap.lifePrinciples) {
  @lifePrinciples.introduction.map { introduction =>
    @views.html.introduction {
      <p>@introduction.fullVersion.html</p>
    }
  }
  <div class="col-md-6">
    @column(columnNumber = 0, columnCount = 2)
  </div>
  <div class="col-md-6">
    @column(columnNumber = 1, columnCount = 2)
  </div>
}
