@import models.statistics.BarOrLineChart

@(barChart: BarOrLineChart[Double])

@import org.apache.commons.lang3.StringEscapeUtils

<script>
  jQuery(document).ready(function() {
    var context = document.getElementById("@barChart.id").getContext("2d");

    Chart.defaults.global.legend.display = false;

    var data = {
      labels: [
        @{
          val Quote = "\""
          Html(barChart.labels.map(label => s"$Quote${StringEscapeUtils.escapeEcmaScript(label)}$Quote").mkString(", "))
        }
      ],
      datasets: [
        @barChart.valueSets.map { valueSet =>
        {
          label: "@valueSet.label",
          fill: false,
          backgroundColor: "rgba(@valueSet.color.red,@valueSet.color.green,@valueSet.color.blue,0.2)",
          borderColor: "rgba(@valueSet.color.red,@valueSet.color.green,@valueSet.color.blue,1)",
          pointBorderColor: "rgba(@valueSet.color.red,@valueSet.color.green,@valueSet.color.blue,1)",
          pointBackgroundColor: "#fff",
          pointBorderWidth: 1,
          pointHoverRadius: 5,
          pointHoverBackgroundColor: "rgba(@valueSet.color.red,@valueSet.color.green,@valueSet.color.blue,1)",
          pointHoverBorderColor: "rgba(@valueSet.color.red,@valueSet.color.green,@valueSet.color.blue,1)",
          pointHoverBorderWidth: 2,
          data: [ @valueSet.values.map(_.toString).mkString(", ") ]
        },
        }
      ]
    };

    var myBarChart = new Chart(context,{
       type: 'line',
       data: data,
       options: {
         scales: {
           yAxes: [ {
             ticks: {
               @barChart.minYValue.map(min => s"suggestedMin: $min,").getOrElse("")
               @barChart.maxYValue.map(max => s"suggestedMax: $max,").getOrElse("")
             }
           }]
         }
       }
    });
  });
</script>

<div style="width: 600px; height: 400px;">
  <canvas id="@barChart.id" class="centered-canvas" width="600" height="400"/>
</div>
