@import models.Cacheable
@import play.twirl.api.Html
@import util.Date._

@(page: Page, cacheable: Cacheable, header: Html, rowFromItem: (ListItem) => Html, nextItemsTitle: Option[String] = None)

@table(tableTitle: String, tableSlug: String, items: Seq[ListItem]) = {
  @if(items.nonEmpty) {
    <div class="panel panel-u">
      <div class="panel-heading panel-title">
        <a href="#@tableSlug" class="header-link head-link-table-title"><i class="fa fa-link"></i></a>
        <section id="@tableSlug">
          <i class="fa fa-calendar"></i>
          <span class="panel-year">@tableTitle</span>
          @if(items.filterNot(_.next).nonEmpty) {
            <span class="pull-right"><span class="badge rounded-2x badge-dark panel-count">@items.size</span></span>
          }
        </section>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
          @header
          </thead>
          <tbody>
          @items.map { item => @rowFromItem(item) }
          </tbody>
        </table>
      </div>
    </div>
  }
}

@main(page) {
  @cacheable.introduction.map { introduction =>
    @views.html.introduction {
      @introduction.fullVersion.html <span class="badge rounded-2x badge-dark pull-right">@cacheable.listItems.filterNot(_.next).size</span>
    }
  }
  @defining(cacheable.listItems.partition(_.next)) { case (nextItems, normalItems) =>
    @table(tableTitle = nextItemsTitle.getOrElse("Next"), tableSlug = "next", nextItems)
    @normalItems.groupBy(_.date.year).toSeq.sortBy(_._1).reverseMap { case (yearOption, itemsForYear) =>
      @table(tableTitle = yearOption.fold("?")(_.toString), tableSlug = yearOption.fold("?")(_.toString), itemsForYear)
    }
  }
}
