@(page: Page, introduction: util.HtmlContent, items: Seq[ListItem], header: play.twirl.api.Html, rowFromItem: (ListItem) => play.twirl.api.Html)

@import util.Date._

@table(yearOption: Option[Int], itemsForYear: Seq[ListItem]) = {
  <div class="panel panel-u">
    <div class="panel-heading">
      <section id="@yearOption.fold("?")(_.toString)">
        <h3 class="panel-title"><i class="fa fa-calendar"></i> @yearOption.fold("?")(_.toString) (@itemsForYear.size)</h3>
      </section>
    </div>
    <table class="table table-bordered table-striped">
      <thead>
        @header
      </thead>
      <tbody>
        @itemsForYear.map { item => @rowFromItem(item) }
      </tbody>
    </table>
  </div>
}

@main(page) {
  <div class="tag-box tag-box-v2">
    @Html(introduction.string)<span class="badge rounded-x badge-u pull-right">@items.size</span>
  </div>
  @items.groupBy(_.date.year).toSeq.sortBy(_._1).reverseMap { case (yearOption, itemsForYear) =>
    @table(yearOption, itemsForYear)
  }
}
