@(page: Page, scripts: Html = Html(""))(content: Html)

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title -->
  <title>@page.title - Olivier Bruchez</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Favicon -->
  <link rel="shortcut icon" href="@routes.Assets.at("img/favicon.png")">
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="@routes.Assets.at("vendor/bootstrap/bootstrap.min.css")">
  <link rel="stylesheet" href="@routes.Assets.at("vendor/icon-awesome/css/font-awesome.min.css")">
  <link rel="stylesheet" href="@routes.Assets.at("vendor/icon-line-pro/style.css")">
  <link rel="stylesheet" href="@routes.Assets.at("vendor/icon-line/css/simple-line-icons.css")">
  <link rel="stylesheet" href="@routes.Assets.at("vendor/icon-hs/style.css")">
  <link rel="stylesheet" href="@routes.Assets.at("vendor/animate.css")">
  <link rel="stylesheet" href="@routes.Assets.at("vendor/fancybox/jquery.fancybox.css")">
  <link rel="stylesheet" href="@routes.Assets.at("vendor/hs-megamenu/src/hs.megamenu.css")">
  <link rel="stylesheet" href="@routes.Assets.at("vendor/hamburgers/hamburgers.min.css")">

  <!-- CSS Unify -->
  <link rel="stylesheet" href="@routes.Assets.at("css/unify-core.css")">
  <link rel="stylesheet" href="@routes.Assets.at("css/unify-components.css")">
  <link rel="stylesheet" href="@routes.Assets.at("css/unify-globals.css")">

  <!-- CSS Customization -->
  <link rel="stylesheet" href="@routes.Assets.at("css/custom.css")">
</head>

<body>
  <main>
    @header(page)

    @breadcrumbs(page)

    <div class="g-max-width-700 mx-auto g-px-20 g-px-0--md g-pt-100">
      @content
      @Some(page.fetchables).filter(_.size == 1).flatMap(fetchables => Some(fetchables.head)).map { fetchable =>
        <div class="col-md-12"></div>
        <div>
          <span class="pull-right"><a href="@fetchable.sourceUrl.toString"><i class="fa fa-code"></i></a></span>
         </div>
      }
    </div>

    <!-- Footer -->
    <footer class="container g-pt-100 g-pb-60">
      <div class="row justify-content-between">
        <div class="col-lg-3 g-mb-30">
          <a class="d-inline-block mb-4" href="unify-main/home/home-page-1.html">
            <img class="g-width-100 g-height-auto" src="assets/img/logo/logo-1.png" alt="Image Description">
          </a>

          <p class="g-color-gray-dark-v4 g-font-size-13 mb-0">Htmlstream 2017. &copy; All Rights Reserved.</p>
        </div>

        <div class="col-sm-6 col-lg-2 ml-auto g-mb-30">
          <!-- Links -->
          <ul class="list-unstyled g-color-gray-dark-v4 g-font-size-13 mb-0">
            <li class="my-2"><i class="mr-2 fa fa-angle-right"></i>
              <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="https://wrapbootstrap.com/user/htmlstream">Support &amp; FAQ</a>
            </li>
            <li class="my-2"><i class="mr-2 fa fa-angle-right"></i>
              <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="http://support.wrapbootstrap.com/knowledge_base/topics/usage-licenses">License</a>
            </li>
          </ul>
          <!-- End Links -->
        </div>

        <div class="col-sm-6 col-lg-3 g-mb-30">
          <h3 class="h6 g-color-black g-font-weight-600 text-uppercase mb-4">Follow Us</h3>

          <!-- Social Icons -->
          <ul class="list-inline mb-0">
            <li class="list-inline-item g-mx-2">
              <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-blue g-bg-blue-opacity-0_1 g-color-blue--hover rounded-circle" href="https://www.facebook.com/htmlstream">
                <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-facebook"></i>
                <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item g-mx-2">
              <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-cyan g-bg-cyan-opacity-0_1 g-color-cyan--hover rounded-circle" href="https://twitter.com/htmlstream">
                <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-twitter"></i>
                <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item g-mx-2">
              <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-bluegray g-bg-bluegray-opacity-0_1 g-color-bluegray--hover rounded-circle" href="https://github.com/htmlstream">
                <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-github"></i>
                <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-github"></i>
              </a>
            </li>
            <li class="list-inline-item g-mx-2">
              <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-red g-bg-red-opacity-0_1 g-color-red--hover rounded-circle" href="https://dribbble.com/htmlstream">
                <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-dribbble"></i>
                <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-dribbble"></i>
              </a>
            </li>
          </ul>
          <!-- End Social Icons -->
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <a class="js-go-to u-go-to-v1" href="#!" data-type="fixed" data-position='{
     "bottom": 15,
     "right": 15
   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
      <i class="hs-icon hs-icon-arrow-top"></i>
    </a>
  </main>

  <div class="u-outer-spaces-helper"></div>

  <!-- JS Global Compulsory -->
  <script src="@routes.Assets.at("vendor/jquery/jquery.min.js")"></script>
  <script src="@routes.Assets.at("vendor/jquery-migrate/jquery-migrate.min.js")"></script>
  <script src="@routes.Assets.at("/vendor/popper.min.js")"></script>
  <script src="@routes.Assets.at("vendor/bootstrap/bootstrap.min.js")"></script>


  <!-- JS Implementing Plugins -->
  <script src="@routes.Assets.at("vendor/hs-megamenu/src/hs.megamenu.js")"></script>
  <script src="@routes.Assets.at("vendor/dzsparallaxer/dzsparallaxer.js")"></script>
  <script src="@routes.Assets.at("vendor/dzsparallaxer/dzsscroller/scroller.js")"></script>
  <script src="@routes.Assets.at("vendor/dzsparallaxer/advancedscroller/plugin.js")"></script>
  <script src="@routes.Assets.at("vendor/chosen/chosen.jquery.js")"></script>
  <script src="@routes.Assets.at("vendor/image-select/src/ImageSelect.jquery.js")"></script>
  <script src="@routes.Assets.at("vendor/masonry/dist/masonry.pkgd.min.js")"></script>
  <script src="@routes.Assets.at("vendor/imagesloaded/imagesloaded.js")"></script>
  <script src="@routes.Assets.at("vendor/slick-carousel/slick/slick.js")"></script>

  <!-- JS Unify -->
  <script src="@routes.Assets.at("js/hs.core.js")"></script>
  <script src="@routes.Assets.at("js/components/hs.header.js")"></script>
  <script src="@routes.Assets.at("js/helpers/hs.hamburgers.js")"></script>
  <script src="@routes.Assets.at("js/components/hs.scroll-nav.js")"></script>
  <script src="@routes.Assets.at("js/components/hs.go-to.js")"></script>
  <script src="@routes.Assets.at("js/components/hs.sticky-block.js")"></script>
  <script src="@routes.Assets.at("js/helpers/hs.height-calc.js")"></script>
  <script src="@routes.Assets.at("js/components/hs.carousel.js")"></script>

  <!-- JS Custom -->
  <script src="@routes.Assets.at("js/custom.js")"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      // initialization of carousel
      $.HSCore.components.HSCarousel.init('.js-carousel');

      // Header
      $.HSCore.components.HSHeader.init($('#js-header'));
      $.HSCore.helpers.HSHamburgers.init('.hamburger');

      // initialization of HSMegaMenu plugin
      $('.js-mega-menu').HSMegaMenu({
        event: 'hover',
        pageContainer: $('.container'),
        breakpoint: 991
      });

      // initialization of go to
      $.HSCore.components.HSGoTo.init('.js-go-to');

      $.HSCore.helpers.HSHeightCalc.init();
    });

    $(window).on('load', function () {
      // initialization of HSScrollNav
      $.HSCore.components.HSScrollNav.init($('#js-scroll-nav'), {
        duration: 700,
        over: $('.u-secondary-navigation')
      });

      // initialization of masonry.js
      $('.masonry-grid').imagesLoaded().then(function () {
        $('.masonry-grid').masonry({
          // options
          columnWidth: '.masonry-grid-sizer',
          itemSelector: '.masonry-grid-item',
          percentPosition: true
        });
      });

      // initialization of sticky blocks
      $.HSCore.components.HSStickyBlock.init('.js-sticky-block');
    });
  </script>

  <script>
    // Facebook Like
    window.fbAsyncInit = function () {
      // init the FB JS SDK
      FB.init({
        appId: '1972702999621713',
        status: true,
        xfbml: true,
        version: 'v2.3'
      });
      if (typeof gaSocialTracking != 'undefined') gaSocialTracking.trackFacebook();
      setTimeout(function () {
        if (typeof window.fbCallback == 'function') {
          window.fbCallback();
        }
      }, 3000); // to make sure FB was loaded
    };
    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    // Facebook Like

    // Twitter Follow
    window.twttr = (function (d, s, id) {
      var t, js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = "//platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
      return window.twttr || (t = {
        _e: [], ready: function (f) {
          t._e.push(f)
        }
      });
    }(document, "script", "twitter-wjs"));
    twttr.ready(function (twttr) {
      twttr.events.bind('tweet', function (event) {
        if (typeof gaSocialTracking != 'undefined') gaSocialTracking.trackTwitter();
      });
    });
    // Twitter Follow
  </script>







</body>

</html>
