@import util.Introduction

@(page: Page, pagesAndIntroductions: Seq[(Page, Option[Introduction])], groupSize: Int, colSize: Int)

@main(page) {
  <div class="col-md-12">
  @pagesAndIntroductions.grouped(groupSize).map { row =>
    <div class="row margin-bottom-10">
    @row.map { case (page, introduction) =>
      <div class="col-md-@colSize col-sm-6">
        <div class="service-block service-block-u rounded-2x">
          <i class="icon-custom icon-color-light rounded-x fa @page.icon.getOrElse("")"></i>
          <h2 class="heading-md"><a href="@page.url">@page.title</a></h2>
          @introduction.map { introduction => <p><a href="@page.url">@Html(introduction.shortVersion.string)</a></p> }
        </div>
      </div>
    }
    </div>
  }
  </div>
}
