@import models.lifelogging.{ Movie, Movies, Title }

@(movies: Movies)

@otherTitles(otherTitles: Seq[Title]) = {
  @otherTitles.map(title => s"${title.title} (${title.locale.getDisplayName(java.util.Locale.ENGLISH)})").mkString(", ")
}

@header = {
  <tr class="header">
    <th class="col-md-1">Date</th>
    <th class="col-md-2">Theater</th>
    <th class="col-md-4">Director</th>
    <th class="col-md-4">Title</th>
    <th class="col-md-1">Rating</th>
  </tr>
}

@rowFromItem(listItem: ListItem) = {
  @defining(listItem.asInstanceOf[Movie]) { movie =>
    <tr class="details">
      <td>@sluganddate(movie)</td>
      <td>@movie.theater.fold(theater => theater, _.description)</td>
      <td>@movie.director</td>
      <td>@{
        val mainTitle = movie.url.fold[xml.NodeSeq](xml.Text(movie.title))(url => <a href={url.toString}>{movie.title}</a>)

        val otherTitles = movie.otherTitles map { title =>
          val language = title.locale.getDisplayName(java.util.Locale.ENGLISH)
          <br/> ++ <span class="movie-alternate-title">{s"$language: ${title.title}"}</span>
        }

        mainTitle ++ otherTitles
      }</td>
      <td>@views.html.rating(movie.rating)</td>
    </tr>
    @{
      // Warning: we're manipulating raw HTML here (comments); don't inject it into XML trees

      val rawComments = movie.comments.map(comments => s"<p>${comments.html}</p>").getOrElse("")


      val rawVersion = movie.version map { version =>
        s"<p>Version: ${version.getDisplayName(java.util.Locale.ENGLISH)}</p>"
      } getOrElse ""

      val allComments = rawComments + rawVersion

      if (allComments.nonEmpty) {
        val Quote = "\""
        Html(s"<tr><td colspan=${Quote}5${Quote}>$allComments</td></tr>")
      }
    }
  }
}

@list(
  page = Sitemap.movies,
  cacheable = movies,
  header = header,
  rowFromItem = rowFromItem)
