@(pieChart: PieChart)

@import org.apache.commons.lang3.StringEscapeUtils

@colorsAsJavaScript(colors: Seq[Color]) = {
  @{
    val Quote = "\""
    Html(colors.map(color => s"$Quote${color.html}$Quote").mkString(", "))
  }
}

<script>
  jQuery(document).ready(function() {
    var context = document.getElementById("@pieChart.id").getContext("2d");

    Chart.defaults.global.legend.display = false;

    var chart = new Chart(context, {
      type: 'pie',
      data: {
        labels: [
          @{
            val Quote = "\""
            Html(pieChart.values.map(value => s"$Quote${StringEscapeUtils.escapeEcmaScript(value.label)}$Quote").mkString(", "))
          }
        ],
        datasets: [
          {
            data: [ @pieChart.values.map(_.value.toString).mkString(", ") ],
            backgroundColor: [ @colorsAsJavaScript(pieChart.values.map(_.color)) ],
            hoverBackgroundColor: [ @colorsAsJavaScript(pieChart.values.map(_.lighterColor)) ]
          }]
      },
      options: {}
    });
  });
</script>

<!--<div id="canvas-holder-@pieChart.id" style="width: @@{width}px; height: @@{height}px;">-->
  <canvas id="@pieChart.id" class="centered-canvas" width="200" height="200"/>
<!--</div>-->
