@(plays: Plays)

@header = {
  <tr>
    <th class="col-md-2">Date</th>
    <th class="col-md-2">Location</th>
    <th class="col-md-2">Name</th>
    <th class="col-md-1">Author</th>
    <th class="col-md-1">Director</th>
    <th>Translation</th>
    <th class="col-md-2">Actors</th>
    <th>Rating</th>
    <th>Comments</th>
  </tr>
}

@rowFromItem(listItem: ListItem) = {
  @defining(listItem.asInstanceOf[Play]) { play =>
    <tr>
      <td>@sluganddate(play)</td>
      <td>@play.location</td>
      <td>@play.name</td>
      <td>@play.author</td>
      <td>@play.director</td>
      <td>@play.translation.getOrElse("")</td>
      <td>@play.actors.mkString(", ")</td>
      <td>@views.html.rating(play.rating)</td>
      <td>@play.comments.fold(Html(""))(_.html)</td>
    </tr>
  }
}

@list(
  page = Sitemap.plays,
  cacheable = plays,
  header = header,
  rowFromItem = rowFromItem)
