@import models.lifelogging.{ Play, Plays }

@(plays: Plays)

@header = {
  <tr class="header">
    <th class="col-md-1">Date</th>
    <th class="col-md-3">Location</th>
    <th class="col-md-3">Name</th>
    <th class="col-md-4">Credits</th>
    <th class="col-md-1">Rating</th>
  </tr>
}

@rowFromItem(listItem: ListItem) = {
  @defining(listItem.asInstanceOf[Play]) { play =>
    <tr class="details">
      <td>@sluganddate(play)</td>
      <td>@play.location</td>
      <td>@play.name</td>
      <td>@{
        val paragraphs =
          Seq(s"Author: ${play.author}", s"Director: ${play.director}") ++
          play.adaptation.map(adaptation => s"Adaptation: $adaptation") ++
          play.translation.map(translation => s"Translation: $translation") ++
          (if (play.actors.isEmpty) Seq() else Seq(s"Actors: ${play.actors.mkString(", ")}"))

        paragraphs.map(paragraph => <p>{paragraph}</p>).foldLeft(xml.NodeSeq.Empty)(_ ++ _)
      }</td>
      <td>@views.html.rating(play.rating)</td>
    </tr>
    @play.comments.map { comments =>
      <tr><td colspan="5">@comments.html</td></tr>
    }
  }
}

@list(
  page = Sitemap.plays,
  cacheable = plays,
  header = header,
  rowFromItem = rowFromItem,
  nextItemsTitle = Some("Upcoming plays"))
