@(profile: Profile)

@column(columnNumber: Int, columnCount: Int) = {
  @profile.partOfProfileLists(partNumber = columnNumber, partCount = columnCount).map { profileList =>
    <div class="tag-box tag-box-v3 profilelist">
      <div class="headline"><section id="@profileList.slug"><h2>@profileList.title</h2></section></div>
      <ul>
      @profileList.profileItems.map { profileItem =>
        <li>
          @profileItem.profileSubItems.zipWithIndex.map { case (profileSubItem, index) =>
            <a href="@profileSubItem.url">@profileSubItem.description</a>
            @if(index != profileItem.profileSubItems.size - 1) {
              <span> / </span>
            }
          }
        </li>
      }
      </ul>
    </div>
  }
}

@main(page = controllers.Sitemap.profile) {
  @profile.introductionOption.map { introduction =>
    <div class="tag-box tag-box-v2">
      <p>@Html(introduction.fullVersion.string)</p>
    </div>
  }
  <div class="col-md-6">
    @column(columnNumber = 0, columnCount = 2)
  </div>
  <div class="col-md-6">
    @column(columnNumber = 1, columnCount = 2)
  </div>
}
