@(profile: models.Profile)

@column(columnNumber: Int, columnCount: Int) = {
  @profile.partOfProfileLists(partNumber = columnNumber, partCount = columnCount  ).map { profileList =>
    <div class="tag-box tag-box-v3">
      <div class="headline"><h2>@profileList.title</h2></div>

      <ul>
      @profileList.profileItems.map { profileItem =>
        <li>
          @profileItem.profileSubItems.zipWithIndex.map { case (profileSubItem, index) =>
            <a href="@profileSubItem.url">@profileSubItem.description</a>
            @if(index != profileItem.profileSubItems.size - 1) {
              <span> / </span>
            }
          }
        </li>
      }
      </ul>
    </div>
  }
}

@main(title = controllers.Profile.PageTitle) {
  <div class="tag-box tag-box-v2">
    <p>@profile.introduction</p>
  </div>
  <div class="col-md-6">
    @column(columnNumber = 0, columnCount = 2)
  </div>
  <div class="col-md-6">
    @column(columnNumber = 1, columnCount = 2)
  </div>
}
