@import models.lifelogging.{ Show, Shows }

@(shows: Shows)

@header = {
  <tr>
    <th class="col-md-1">Date</th>
    <th class="col-md-5">Name</th>
    <th class="col-md-3">Season/series</th>
    <th class="col-md-3">Comments</th>
  </tr>
}

@rowFromItem(listItem: ListItem) = {
  @defining(listItem.asInstanceOf[Show]) { show =>
    <tr>
      <td>@sluganddate(show)</td>
      <td><a href="@show.url.toString">@show.name</a></td>
      <td>@{show.seriesUrl.fold[xml.NodeSeq](xml.Text(show.standAloneSeriesString))(url => <a href={url.toString}>{show.standAloneSeriesString}</a>)}</td>
      <td>@show.comments.map(_.html).getOrElse(Html(""))</td>
    </tr>
  }
}

@list(
  page = Sitemap.shows,
  cacheable = shows,
  header = header,
  rowFromItem = rowFromItem,
  nextItemsTitle = Some("Currently watching"))
