@import models.statistics.{ PieChart, Statistics }
@(statistics: Statistics)

@scripts = {
  <script type="text/javascript" src="@routes.Assets.at("plugins/moment.min.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("plugins/chart.min.js")"></script>
}

@main(Sitemap.statistics, scripts) {
  <div class="headline"><h2>Concerts</h2></div>

  @{
    val pieChart = PieChart(
      id = "chart-most-seen-artists",
      anchor = "most-seen-artists",
      title = "Most seen artists",
      entityName = "Artist",
      valueUnit = "Count",
      statistics.mostSeenArtists(mainMusiciansOnly = false),
      maxValues = 17)

    views.html.tablepiechart(pieChart)
  }

  @{
    val pieChart = PieChart(
      id = "chart-most-seen-artists-main-musicians-only",
      anchor = "most-seen-artists-main-musicians-only",
      title = "Most seen artists (main musicians only)",
      entityName = "Artist",
      valueUnit = "Count",
      statistics.mostSeenArtists(mainMusiciansOnly = true),
      maxValues = 17)

    views.html.tablepiechart(pieChart)
  }
}
