@import models.statistics._
@import models.statistics.BarChartValueSet
@(statistics: Statistics)

@scripts = {
  <script type="text/javascript" src="@routes.Assets.at("plugins/moment.min.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("plugins/chart.js")"></script>
}

@pieChart(values: Seq[(Int, String)], entity: String, title: String, threshold: Int) = {
  @{
    val pieChart = PieChart(
      baseId = title.split("[ \\(\\)]").filter(_.nonEmpty).map(_.toLowerCase).mkString("-"),
      title = title,
      entityName = entity,
      valueUnit = "Count",
      values,
      threshold = Some(threshold),
      maxValueCount = Some(17))

    views.html.piechartsection(pieChart)
  }
}

@ratingsDistribution(ratings: Seq[(String, Int)], entity: String) = {
  @{
    val barChart = BarChart(
      baseId = s"${entity.toLowerCase}-ratings-distribution",
      title = s"$entity ratings (distribution)",
      datasetLabel = "Count",
      labels = ratings.map(_._1),
      valueSets = Seq(BarChartValueSet(values = ratings.map(_._2), color = Color("C0C0C0"))))

    views.html.barchartsection(barChart)
  }
}

@main(Sitemap.statistics, scripts) {
  <div class="headline"><h2>Books</h2></div>

  @pieChart(statistics.mostReadBookAuthors, "Author", "Most read book authors", threshold = 2)

  @ratingsDistribution(statistics.bookRatingsDistribution, "Book")

  <div class="headline"><h2>Concerts</h2></div>

  @pieChart(statistics.mostSeenConcertArtists(mainMusiciansOnly = false), "Artist", "Most seen concert artists", threshold = 6)

  @pieChart(
    statistics.mostSeenConcertArtists(mainMusiciansOnly = true),
    "Artist",
    "Most seen concert artists (main musicians only)",
    threshold = 4)

  @pieChart(statistics.mostVisitedConcertVenues, "Concert venue", "Most visited concert venues", threshold = 3)

  <p>Note: venues are counted at most once per day.</p>

  @ratingsDistribution(statistics.concertRatingsDistribution, "Concert")

  <div class="headline"><h2>Movies</h2></div>

  @pieChart(statistics.mostSeenMovies, "Movie", "Most seen movies", threshold = 2)

  @pieChart(statistics.mostSeenMovieDirectors, "Director", "Most seen movie directors", threshold = 4)

  @ratingsDistribution(statistics.movieRatingsDistribution, "Movie")

  <div class="headline"><h2>Plays</h2></div>

  @pieChart(statistics.mostSeenPlayAuthors, "Author", "Most seen play authors", threshold = 2)

  @pieChart(statistics.mostSeenPlayDirectors, "Director", "Most seen play directors", threshold = 2)

  @pieChart(statistics.mostSeenPlayActors, "Actor", "Most seen play actor", threshold = 3)

  @pieChart(statistics.mostVisitedPlayTheatre, "Theatre", "Most visited theatres", threshold = 2)

  @ratingsDistribution(statistics.playRatingsDistribution, "Play")
}
