@()

@main("Test 2") {
    <div class="container content main-content height-500">




        <div class="introduction-box tag-box tag-box-v2 box-shadow shadow-effect-1">
            <p>I'm a geek. I like lists. So this is me. In lists.</p>
        </div>


        <div class="col-md-6">


            <div class="listitems">






                <div class="tag-box tag-box-v3 box-shadow shadow-effect-1 contentbox">

                    <div class="headline">
                        <section id="activities">
                            <h3>

                                <a href="#activities" class="header-link head-link-content-box"><i class="fa fa-link"></i></a>

                                Activities
                            </h3>
                        </section>
                    </div>


                    <table class="table">
                        <tbody>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Blogging">Blogging</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Opera">Going to the opera</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Theatre">Going to the theatre</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Diary">Journaling</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Meditating">Meditating</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Reading_(process)">Reading</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Traveling">Traveling</a>


                            </td></tr>

                        </tbody>
                    </table>

                </div>

            </div>

            <div class="listitems">






                <div class="tag-box tag-box-v3 box-shadow shadow-effect-1 contentbox">

                    <div class="headline">
                        <section id="bandes-dessinees-comics">
                            <h3>

                                <a href="#bandes-dessinees-comics" class="header-link head-link-content-box"><i class="fa fa-link"></i></a>

                                Bandes dessinées / comics
                            </h3>
                        </section>
                    </div>


                    <table class="table">
                        <tbody>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Don_Rosa">Don Rosa</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/F%27Murr">F&#x27;Murr (aka Richard Peyzaret)</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Greg_(comics)">Greg (aka Michel Régnier)</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Lewis_Trondheim">Lewis Trondheim (aka Laurent Chabosy)</a>


                            </td></tr>

                        </tbody>
                    </table>

                </div>

            </div>

            <div class="listitems">






                <div class="tag-box tag-box-v3 box-shadow shadow-effect-1 contentbox">

                    <div class="headline">
                        <section id="directors">
                            <h3>

                                <a href="#directors" class="header-link head-link-content-box"><i class="fa fa-link"></i></a>

                                Directors
                            </h3>
                        </section>
                    </div>


                    <table class="table">
                        <tbody>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Alfred_Hitchcock">Alfred Hitchcock</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/David_Lynch">David Lynch</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Coen_brothers">Joel &amp; Ethan Coen</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://fr.wikipedia.org/wiki/Hayao_Miyazaki">Hayao Miyazaki</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Roman_Polanski">Roman Polanski</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Stanley_Kubrick">Stanley Kubrick</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Tim_Burton">Tim Burton</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Wes_Anderson">Wes Anderson</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Woody_Allen">Woody Allen</a>


                            </td></tr>

                        </tbody>
                    </table>

                </div>

            </div>

            <div class="listitems">






                <div class="tag-box tag-box-v3 box-shadow shadow-effect-1 contentbox">

                    <div class="headline">
                        <section id="food">
                            <h3>

                                <a href="#food" class="header-link head-link-content-box"><i class="fa fa-link"></i></a>

                                Food
                            </h3>
                        </section>
                    </div>


                    <table class="table">
                        <tbody>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Beer">Beer</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Chocolate">Chocolate</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Coffee">Coffee</a>


                            </td></tr>

                            <tr><td>

                                <a href=""></a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Tea">Tea</a>
                                <span> / </span>

                                <a href="https://en.wikipedia.org/wiki/Green_tea">Green tea</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Veganism#Vegan_diet">Vegan cuisine</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Vegetarian_cuisine">Vegetarian cuisine</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Wine">Wine</a>


                            </td></tr>

                        </tbody>
                    </table>

                </div>

            </div>

            <div class="listitems">






                <div class="tag-box tag-box-v3 box-shadow shadow-effect-1 contentbox">

                    <div class="headline">
                        <section id="interests">
                            <h3>

                                <a href="#interests" class="header-link head-link-content-box"><i class="fa fa-link"></i></a>

                                Interests
                            </h3>
                        </section>
                    </div>


                    <table class="table">
                        <tbody>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Archive">Archiving</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Artificial_intelligence">Artificial intelligence</a>
                                <span> / </span>

                                <a href="https://en.wikipedia.org/wiki/Machine_learning">Machine learning</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Astronomy">Astronomy</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Basic_income">Basic income</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Consumer_protection">Consumer rights</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Crowdfunding">Crowdfunding</a>
                                <span> / </span>

                                <a href="https://en.wikipedia.org/wiki/Patreon">Patreon</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Effective_altruism">Effective altruism</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Electric_car">Electric cars</a>
                                <span> / </span>

                                <a href="https://en.wikipedia.org/wiki/Autonomous_car">Self-driving cars</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Futures_studies">Futures studies (aka futurology)</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Getting_Things_Done">Getting Things Done (GTD)</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Paperless_office">Going paperless</a>
                                <span> / </span>

                                <a href="https://en.wikipedia.org/wiki/E-book">E-books</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Jazz">Jazz</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Simple_living">Minimalism / simple living</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Mooc">MOOCs</a>
                                <span> / </span>

                                <a href="https://en.wikipedia.org/wiki/Coursera">Coursera</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Dietary_supplement">Dietary supplement</a>
                                <span> / </span>

                                <a href="https://en.wikipedia.org/wiki/Herbal_medicine">Herbal medicine</a>
                                <span> / </span>

                                <a href="https://en.wikipedia.org/wiki/Nootropic">Nootropics</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Philosophy">Philosophy</a>
                                <span> / </span>

                                <a href="https://en.wikipedia.org/wiki/Consciousness">Consciousness</a>
                                <span> / </span>

                                <a href="https://en.wikipedia.org/wiki/Ethics">Ethics</a>
                                <span> / </span>

                                <a href="https://en.wikipedia.org/wiki/Free_will">Free will</a>
                                <span> / </span>

                                <a href="https://en.wikipedia.org/wiki/Personal_identity">Personal identity</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Computer_programming">Programming</a>
                                <span> / </span>

                                <a href="https://en.wikipedia.org/wiki/Software_development">Software development</a>
                                <span> / </span>

                                <a href="https://en.wikipedia.org/wiki/Functional_programming">Functional programming</a>
                                <span> / </span>

                                <a href="https://en.wikipedia.org/wiki/Scala_(programming_language)">Scala</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Quantified_Self">Quantified Self</a>
                                <span> / </span>

                                <a href="https://en.wikipedia.org/wiki/Lifelog">Lifelogging</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Science">Science</a>
                                <span> / </span>

                                <a href="https://en.wikipedia.org/wiki/Mathematics">Mathematics</a>
                                <span> / </span>

                                <a href="https://en.wikipedia.org/wiki/Pi">Pi</a>
                                <span> / </span>

                                <a href="https://en.wikipedia.org/wiki/Fractal">Fractals</a>
                                <span> / </span>

                                <a href="https://en.wikipedia.org/wiki/Mandelbrot_set">Mandelbrot set</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Technology">Technology</a>
                                <span> / </span>

                                <a href="https://en.wikipedia.org/wiki/Computer">Computers</a>


                            </td></tr>

                        </tbody>
                    </table>

                </div>

            </div>

            <div class="listitems">






                <div class="tag-box tag-box-v3 box-shadow shadow-effect-1 contentbox">

                    <div class="headline">
                        <section id="musicians">
                            <h3>

                                <a href="#musicians" class="header-link head-link-content-box"><i class="fa fa-link"></i></a>

                                Musicians
                            </h3>
                        </section>
                    </div>


                    <table class="table">
                        <tbody>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Prince_(musician)">Prince</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Miles_Davis">Miles Davis</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Keith_Jarrett">Keith Jarrett</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/The_Beatles">The Beatles</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Bj%C3%B6rk">Björk</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Brad_Mehldau">Brad Mehldau</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/George_Clinton_(musician)">George Clinton</a>
                                <span> / </span>

                                <a href="https://en.wikipedia.org/wiki/Parliament_(band)">Parliament</a>
                                <span> / </span>

                                <a href="https://en.wikipedia.org/wiki/Funkadelic">Funkadelic</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Kenny_Garrett">Kenny Garrett</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Herbie_Hancock">Herbie Hancock</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Jack_DeJohnette">Jack DeJohnette</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Jack_White">Jack White</a>
                                <span> / </span>

                                <a href="https://en.wikipedia.org/wiki/The_White_Stripes">The White Stripes</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/James_Brown">James Brown</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Janelle_Mon%C3%A1e">Janelle Monáe</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Jimi_Hendrix">Jimi Hendrix</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/John_Scofield">John Scofield</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Led_Zeppelin">Led Zeppelin</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Living_Colour">Living Colour</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Marcus_Miller">Marcus Miller</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Mahavishnu_Orchestra">Mahavishnu Orchestra</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Michael_Brecker">Michael Brecker</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Neneh_Cherry">Neneh Cherry</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Sting_(musician)">Sting</a>
                                <span> / </span>

                                <a href="https://en.wikipedia.org/wiki/The_Police">The Police</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Wayne_Shorter">Wayne Shorter</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Yaron_Herman">Yaron Herman</a>


                            </td></tr>

                        </tbody>
                    </table>

                </div>

            </div>

            <div class="listitems">






                <div class="tag-box tag-box-v3 box-shadow shadow-effect-1 contentbox">

                    <div class="headline">
                        <section id="painters">
                            <h3>

                                <a href="#painters" class="header-link head-link-content-box"><i class="fa fa-link"></i></a>

                                Painters
                            </h3>
                        </section>
                    </div>


                    <table class="table">
                        <tbody>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Hieronymus_Bosch">Hieronymus Bosch</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Joan_Mir%C3%B3">Joan Miró</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Marc_Chagall">Marc Chagall</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Max_Ernst">Max Ernst</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Otto_Dix">Otto Dix</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Pablo_Picasso">Pablo Picasso</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Pieter_Brueghel_the_Elder">Pieter Brueghel</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Ren%C3%A9_Magritte">René Magritte</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Salvador_Dal%C3%AD">Salvador Dalí</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Tom_Everhart">Tom Everhart</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Vincent_van_Gogh">Vincent van Gogh</a>


                            </td></tr>

                        </tbody>
                    </table>

                </div>

            </div>

            <div class="listitems">






                <div class="tag-box tag-box-v3 box-shadow shadow-effect-1 contentbox">

                    <div class="headline">
                        <section id="people-who-inspire-me-thinkers-bloggers">
                            <h3>

                                <a href="#people-who-inspire-me-thinkers-bloggers" class="header-link head-link-content-box"><i class="fa fa-link"></i></a>

                                People who inspire me / thinkers / bloggers
                            </h3>
                        </section>
                    </div>


                    <table class="table">
                        <tbody>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Ben_Goldacre">Ben Goldacre</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Bertrand_Russel">Bertrand Russel</a>


                            </td></tr>

                            <tr><td>

                                <a href="http://busterbenson.com/">Buster Benson</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Carl_Sagan">Carl Sagan</a>


                            </td></tr>

                            <tr><td>

                                <a href="http://www.danielmiessler.com/">Daniel Miessler</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/David_Allen_(author)">David Allen</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Elon_Musk">Elon Musk</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Peter_Singer">Peter Singer</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Ray_Kurzweil">Ray Kurzweil</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Richard_Dawkins">Richard Dawkins</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Richard_Feynman">Richard Feynman</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Sam_Harris_(author)">Sam Harris</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/William_MacAskill">William MacAskill</a>


                            </td></tr>

                        </tbody>
                    </table>

                </div>

            </div>


        </div>
        <div class="col-md-6">


            <div class="listitems">






                <div class="tag-box tag-box-v3 box-shadow shadow-effect-1 contentbox">

                    <div class="headline">
                        <section id="philosophical-views">
                            <h3>

                                <a href="#philosophical-views" class="header-link head-link-content-box"><i class="fa fa-link"></i></a>

                                Philosophical views
                            </h3>
                        </section>
                    </div>


                    <table class="table">
                        <tbody>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Absurdism">Absurdism</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Agnosticism">Agnosticism</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Atheism">Atheism</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Consequentialism">Consequentialism</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Determinism">Determinism</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Empiricism">Empiricism</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Existentialism">Existentialism</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Humanism">Humanism</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Moral_realism">Moral realism</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Naturalism_(philosophy)">Naturalism</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Singularitarianism">Singularitarianism</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Skepticism">Skepticism</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Stoicism">Stoicism</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Transhumanism">Transhumanism</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Utilitarianism">Utilitarianism</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Veganism">Veganism</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Vegetarianism">Vegetarianism</a>


                            </td></tr>

                        </tbody>
                    </table>

                </div>

            </div>

            <div class="listitems">






                <div class="tag-box tag-box-v3 box-shadow shadow-effect-1 contentbox">

                    <div class="headline">
                        <section id="places">
                            <h3>

                                <a href="#places" class="header-link head-link-content-box"><i class="fa fa-link"></i></a>

                                Places
                            </h3>
                        </section>
                    </div>


                    <table class="table">
                        <tbody>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Bagnes">Bagnes</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Lausanne">Lausanne</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Suisse_romande">Suisse romande</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Valais">Valais</a>


                            </td></tr>

                        </tbody>
                    </table>

                </div>

            </div>

            <div class="listitems">






                <div class="tag-box tag-box-v3 box-shadow shadow-effect-1 contentbox">

                    <div class="headline">
                        <section id="podcasts">
                            <h3>

                                <a href="#podcasts" class="header-link head-link-content-box"><i class="fa fa-link"></i></a>

                                Podcasts
                            </h3>
                        </section>
                    </div>


                    <table class="table">
                        <tbody>

                            <tr><td>

                                <a href="https://www.danielandjorge.com/podcasts">Daniel and Jorge Explain the Universe</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://peachandblack.podbean.com/">Peach &amp; Black</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://www.samharris.org/podcast">Sam Harris (Making Sense)</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://www.happinesslab.fm/">The Happiness Lab</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://peterattiamd.com/podcast/">The Peter Attia Drive Podcast</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://verybadwizards.fireside.fm/">Very Bad Wizards</a>


                            </td></tr>

                        </tbody>
                    </table>

                </div>

            </div>

            <div class="listitems">






                <div class="tag-box tag-box-v3 box-shadow shadow-effect-1 contentbox">

                    <div class="headline">
                        <section id="sports">
                            <h3>

                                <a href="#sports" class="header-link head-link-content-box"><i class="fa fa-link"></i></a>

                                Sports
                            </h3>
                        </section>
                    </div>


                    <table class="table">
                        <tbody>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Elliptical_trainer">Elliptical trainer / cross-trainer</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Mountain_biking">Mountain biking</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Hiking">Mountain hiking</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Skiing">Skiing</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Via_ferrata">Via ferrata</a>


                            </td></tr>

                        </tbody>
                    </table>

                </div>

            </div>

            <div class="listitems">






                <div class="tag-box tag-box-v3 box-shadow shadow-effect-1 contentbox">

                    <div class="headline">
                        <section id="tv-shows">
                            <h3>

                                <a href="#tv-shows" class="header-link head-link-content-box"><i class="fa fa-link"></i></a>

                                TV shows
                            </h3>
                        </section>
                    </div>


                    <table class="table">
                        <tbody>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Arrested_Development_(TV_series)">Arrested Development</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Better_Off_Ted">Better Off Ted</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/The_Big_Bang_Theory">The Big Bang Theory</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Blackadder">Blackadder</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Black_Mirror">Black Mirror</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Bob%27s_Burgers">Bob&#x27;s Burgers</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Bref">Bref</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Community_(TV_series)">Community</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Curb_Your_Enthusiasm">Curb Your Enthusiasm</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Episodes_(TV_series)">Episodes</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Fargo_(TV_series)">Fargo</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Friends">Friends</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Futurama">Futurama</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Game_of_Thrones">Game of Thrones</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Horace_and_Pete">Horace and Pete</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/How_I_Met_Your_Mother">How I Met Your Mother</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Inside_No._9">Inside No. 9</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/The_IT_Crowd">The IT Crowd</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Lost_(TV_series)">Lost</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Louie_(TV_series)">Louie</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Modern_Family">Modern Family</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Monty_Python%27s_Flying_Circus">Monty Python&#x27;s Flying Circus</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Moone_Boy">Moone Boy</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Mr._Robot_(TV_series)">Mr. Robot</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/The_Office_(U.S._TV_series)">The Office (US)</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Rick_and_Morty">Rick and Morty</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Seinfeld">Seinfeld</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Silicon_Valley_(TV_series)">Silicon Valley</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/The_Simpsons">The Simpsons</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/The_Spoils_of_Babylon">The Spoils of Babylon</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/The_Tripods_(TV_series)">The Tripods</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/The_Twilight_Zone_(1959_TV_series)">The Twilight Zone</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Twin_Peaks">Twin Peaks</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Westworld_(TV_series)">Westworld</a>


                            </td></tr>

                        </tbody>
                    </table>

                </div>

            </div>

            <div class="listitems">






                <div class="tag-box tag-box-v3 box-shadow shadow-effect-1 contentbox">

                    <div class="headline">
                        <section id="web-comics">
                            <h3>

                                <a href="#web-comics" class="header-link head-link-content-box"><i class="fa fa-link"></i></a>

                                Web comics
                            </h3>
                        </section>
                    </div>


                    <table class="table">
                        <tbody>

                            <tr><td>

                                <a href="http://909sickle.net/">909sickle</a>


                            </td></tr>

                            <tr><td>

                                <a href="http://abstrusegoose.com/">Abstruse Goose</a>


                            </td></tr>

                            <tr><td>

                                <a href="http://www.bouletcorp.com/">Bouletcorp</a>


                            </td></tr>

                            <tr><td>

                                <a href="http://www.buttercupfestival.com/">Buttercup Festival</a>


                            </td></tr>

                            <tr><td>

                                <a href="http://buttersafe.com/">Buttersafe</a>


                            </td></tr>

                            <tr><td>

                                <a href="http://www.gocomics.com/calvinandhobbes">Calvin and Hobbes</a>


                            </td></tr>

                            <tr><td>

                                <a href="http://catandgirl.com/">Cat and Girl</a>


                            </td></tr>

                            <tr><td>

                                <a href="http://www.commitstrip.com/">CommitStrip</a>


                            </td></tr>

                            <tr><td>

                                <a href="http://www.lunarbaboon.com/">Lunarbaboon</a>


                            </td></tr>

                            <tr><td>

                                <a href="http://maximumble.thebookofbiff.com/">Maximumble</a>


                            </td></tr>

                            <tr><td>

                                <a href="http://nedroid.com/">Nedroid</a>


                            </td></tr>

                            <tr><td>

                                <a href="http://owlturd.com/">Owlturd</a>


                            </td></tr>

                            <tr><td>

                                <a href="http://www.gocomics.com/peanuts">Peanuts</a>


                            </td></tr>

                            <tr><td>

                                <a href="http://www.gocomics.com/pearlsbeforeswine">Pearls Befores Wine</a>


                            </td></tr>

                            <tr><td>

                                <a href="http://phdcomics.com/comics.php">PHD Comics</a>


                            </td></tr>

                            <tr><td>

                                <a href="http://sarahcandersen.com/">Sarah&#x27;s Scribbles</a>


                            </td></tr>

                            <tr><td>

                                <a href="http://www.smbc-comics.com/">Saturday Morning Breakfast Cereal</a>


                            </td></tr>

                            <tr><td>

                                <a href="http://theoatmeal.com/">The Oatmeal</a>


                            </td></tr>

                            <tr><td>

                                <a href="http://www.pbfcomics.com/">The Perry Bible Fellowship</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://xkcd.com/">xkcd</a>


                            </td></tr>

                        </tbody>
                    </table>

                </div>

            </div>

            <div class="listitems">






                <div class="tag-box tag-box-v3 box-shadow shadow-effect-1 contentbox">

                    <div class="headline">
                        <section id="writers">
                            <h3>

                                <a href="#writers" class="header-link head-link-content-box"><i class="fa fa-link"></i></a>

                                Writers
                            </h3>
                        </section>
                    </div>


                    <table class="table">
                        <tbody>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Albert_Camus">Albert Camus</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Boris_Vian">Boris Vian</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Daniel_Pennac">Daniel Pennac</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Franz_Kafka">Franz Kafka</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/H._P._Lovecraft">H. P. Lovecraft</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Jean-Paul_Sartre">Jean-Paul Sartre</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Milan_Kundera">Milan Kundera</a>


                            </td></tr>

                            <tr><td>

                                <a href="https://en.wikipedia.org/wiki/Roald_Dahl">Roald Dahl</a>


                            </td></tr>

                        </tbody>
                    </table>

                </div>

            </div>


        </div>
    </div>
}