@import models.lifelogging.{ Trip, Trips }

@(trips: Trips)

@import util.Date._

@header = {
  <tr>
    <th class="col-md-1">From</th>
    <th class="col-md-1">To</th>
    <th class="col-md-5">Place</th>
    <th class="col-md-5">Pictures</th>
  </tr>
}

@rowFromItem(listItem: ListItem) = {
  @defining(listItem.asInstanceOf[Trip]) { trip =>
    <tr>
      <td>@sluganddate(trip)</td>
      <td>@trip.to.yyyymmddString</td>
      <td>@trip.place</td>
      <td>@pictures(trip.pictures, trip.place)</td>
    </tr>
  }
}

@list(
  page = Sitemap.trips,
  cacheable = trips,
  header = header,
  rowFromItem = rowFromItem,
  nextItemsTitle = Some("Upcoming trips"))
