@import models.lifelogging.{ Trip, Trips }

@(trips: Trips)

@import util.Date._

@header = {
  <tr class="list-header">
    <th class="col-md-1">From</th>
    <th class="col-md-1">To</th>
    <th class="col-md-4">Place</th>
    <th class="col-md-6">Pictures</th>
  </tr>
}

@rowFromItem(listItem: ListItem, trClass: String) = {
  @defining(listItem.asInstanceOf[Trip]) { trip =>
    <tr class="list-details @trClass">
      <td>@sluganddate(trip)</td>
      <td>@trip.to.yyyymmddString</td>
      <td>@trip.place</td>
      <td>@pictures(trip.pictures, trip.place)</td>
    </tr>
    @trip.comments.map { comments =>
      <tr><td colspan="4">@comments.html</td></tr>
    }
  }
}

@list(
  page = Sitemap.trips,
  cacheable = trips,
  header = header,
  rowFromItem = rowFromItem,
  nextItemsTitle = Some("Upcoming trips"))
