@import models.about.Worldview

@(worldview: Worldview)

@main(page = controllers.Sitemap.worldview) {
  @worldview.introduction.map { introduction =>
    @views.html.introduction {
      <p>@introduction.fullVersion.html</p>
    }
  }

  <script>
      $(document).ready(function() {
          var link = $('a.toc-toggle-link');
          link.click(function () {
              var toc = $('#collapse-toc');
              if (toc.is(":visible")) {
                toc.slideUp('fast');
                link.text('afficher');
              } else {
                toc.slideDown('fast');
                link.text('masquer');
              }
          });
      });
  </script>

  <div class="panel-group acc-v1" id="accordion-1">
    <div class="panel panel-default">
      <div class="panel-heading toc-heading">
        <h4 class="panel-title toc-title-and-toggle">
          <span class="toc-title">Sommaire</span><span class="toc-toggle">[<a class="toc-toggle-link" role="button">afficher</a>]</span>
        </h4>
      </div>
      <div id="collapse-toc" class="panel-collapse collapse">
        <div class="panel-body toc-panel">
          <ul class="list-unstyled">
          @worldview.worldviewCategories.zipWithIndex.map { case (worldviewCategory, index) =>
            <li>
              @{index + 1} <a href="#@worldviewCategory.slug">@worldviewCategory.description.html</a>
              <ul class="list-unstyled">
              @worldviewCategory.worldviewPositions.zipWithIndex.map { case (worldviewPosition, subIndex) =>
                @worldviewPosition.itemSlug match {
                  case Some(slug) => { <li>@{index + 1}.@{subIndex + 1} <a href="#@slug">@worldviewPosition.summary.html</a></li> }
                  case None => { <li>@{index + 1}.@{subIndex + 1} @worldviewPosition.summary.html</li> }
                }
              }
              </ul>
            </li>
          }
          </ul>
        </div>
      </div>
    </div>
  </div>

  @worldview.worldviewCategories.map { worldviewCategory =>
    <div class="worldview-category">
      <section id="@worldviewCategory.slug"><h2>@worldviewCategory.description.html</h2></section>
      @worldviewCategory.worldviewPositions.map { worldviewPosition =>
        @views.html.contentbox(slug = worldviewPosition.itemSlug, title = Some(worldviewPosition.summary.html)) {
          <p>@worldviewPosition.details.html</p>
        }
      }
    </div>
  }

  <div class="worldview-references">
    <section id="references"><h2>Références</h2></section>
    <ul class="list-unstyled">
      @worldview.references.map { reference =>
        <li>@reference.html</li>
      }
    </ul>
  </div>
}
